@import "react-datepicker/dist/react-datepicker.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes lock-glow-animation {
  50% {
    box-shadow: 0 0 10px 3px rgba(255, 165, 0, 0.6);
  }
}
.slot-lock-glow {
  animation: lock-glow-animation 1.5s infinite;
}